.settings {
    background-color: #141414;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text{
        color: white;
        text-align: center;
        h3 {
            font-family: "Nunito";
            font-weight: 700;
        }
        p {
            font-family: "Inter";
            font-weight: 400;
        }
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        .getava {
            width: 350px;
            height: 5vh;
            border-radius: 2vh;
            background-color: #fff;
            color: black;
            font-family: "Nunito";
            font-weight: 700;
        }
        .saveconf {
            width: 350px;
            height: 5vh;
            border-radius: 2vh;
            background-color: #3D52D5;
            color: white;
            font-family: "Nunito";
            font-weight: 700;
        }
        input {
            width: 350px;
            height: 5vh;
            border-radius: 2vh;
            background-color: transparent;
            border: 2px #A3A3A3 solid;
            padding-left: 2vh;
            color: white;
        }
    }

    span {
        color: #8D8D8D;
        display: flex;
        align-items: flex-start;
    }
}